body {
  position: relative;
}

.conteiner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
}

button {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  font-size: 18px;
  color: #fff;
  border: #fff;
}

button[data-start] {
  background-color: green;
}

button[data-stop] {
  background-color: gray;
}
